@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Coptic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
.header {
  width: 100;
  height: 100vh;
  background-image: url("https://asset.watch.impress.co.jp/img/gmw/docs/1440/838/5_l.jpg");
  background-position: center;
  background-size: cover;
}
nav {
    text-align: center;
    position: fixed; /* 固定位置 */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 1rem;
    z-index: 10; /* z-indexを高く設定 */
}
.logo {
 width: 150px;
 margin: 0 auto 20px auto;
 margin-top: 5px;
 cursor: pointer;
 font-size: 2rem;
 font-weight: 450;
 color: white;
}
nav ul {
  background: #000;
 width: 100%;
 margin-top: 10px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 30px;

}
nav ul li a {
  text-decoration: none;
  color: white;
}


nav.sticky {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 3%;
  transition: 0.6s;


}
nav.sticky .logo {
  margin: 20px 0;
  
 }
 nav.sticky.ul {
  background-color: transparent;
  font-size: 1.3rem;
 }
 .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: lightgray;
 }

 body {
  font-family: Arial, sans-serif;
}
.icons {
  font-size: 22px;
  padding: 50px;
  letter-spacing: 1.0em;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.white {
  color: white;
  text-decoration: none;
}
.image-container {
  position: relative;
  margin: 10px;
  width: 200px; /* 固定幅 */
  height: 200px; /* 固定高さ */
  overflow: hidden;
  display: none; /* 初期状態では非表示 */
}
.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像をコンテナにフィットさせる */
  transition: transform 0.3s ease;
}
.image-container:hover img {
  transform: scale(1.1);
}
.name {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  transition: bottom 0.3s;
}
.image-container:hover .name {
  bottom: 0;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category1 {
  display: none;
}
.category2 {
  display: none;
}

@media only screen and (max-width: 480px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP';
}
.header {
  width: 812px;
  height: 100vh;
  background-image: url("https://asset.watch.impress.co.jp/img/gmw/docs/1440/838/5_l.jpg");
  background-position: center;
  background-size: cover;
}
nav {
    text-align: center;
    position: fixed; /* 固定位置 */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 1rem;
    z-index: 10; /* z-indexを高く設定 */
}
.logo {
  width: 150px;
  margin: 0 auto 20px auto;
  margin-top: 5px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 450;
  color: white;
 }
nav ul {
background: #000;
 width: 100%;
 margin-top: 10px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 5px;

}
nav ul li a {
  text-decoration: none;
  color: white;
}


nav.sticky {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 3%;
  transition: 0.6s;


}
nav.sticky .logo {
  margin: 20px 0;
  
 }
 nav.sticky.ul {
  background-color: transparent;
  font-size: 1.3rem;
 }
 .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: lightgray;
 }


 body {
  font-family: Arial, sans-serif;
}

#title1 {
  width: 520px;
  margin-left: 120px;
}

.title-bottom {
  width: 575px;
  margin-left: 110px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
}


.icons {
  width: 520px;
  margin-left: 120px;
  padding: 50px;
  letter-spacing: 1.0em;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.white {
  color: white;
  text-decoration: none;
}
.image-container {
  position: relative;
  left: 185px;
  margin: 10x;
  width: 100px; /* 固定幅 */
  height: 100px; /* 固定高さ */
  overflow: hidden;
  display: none; /* 初期状態では非表示 */
}
.image-container img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover; /* 画像をコンテナにフィットさせる */
  transition: transform 0.2s ease;
}
.image-container:hover img {
  transform: scale(1.1);
}
.name {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  transition: bottom 0.3s;
}
.image-container:hover .name {
  bottom: 0;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category1 {
  display: none;
}
.category2 {
  display: none;
}

}