body {
    background-color: #ffeef1;
    padding: 60px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    position: relative;
}

.header {
width: 100%;
height: 400px; /* 余白の高さを設定 */
background-color: #a5a5a5; /* 余白の背景色を設定 */
position: absolute;
top: 0;
left: 0;
z-index: 0; /* 他の要素の後ろに配置 */
}

.title {
position: absolute;
top: 0;
left: 91%;
transform: translateX(-50%);
font-size: 50px;
font-weight: bold;
color: white;
margin: 10px 0;
z-index: 1; /* 他の要素に隠れないようにするため */
}

.title1 {
border: 1px solid #a5a5a5; /* 四角の枠線の色と太さ */
background-color: rgb(0, 36, 166); /* 背景色 */
}

.title2 {
border: 1px solid #a5a5a5; /* 四角の枠線の色と太さ */
background-color: rgb(71, 71, 71); /* 背景色 */
}

.header-content-title {
position: absolute;
color: white;
font-size: 25px;
font-weight: bold;
margin-left: 20px; 
margin-top: 10px;
}

.header-content-left, .header-content-right {
float: left;
margin: 700px;  
}

.header-content-right {
position: absolute;
color: white;
font-size: 25px;
font-weight: bold;
margin-right: 20px; 
margin-top: 130px;
}

.header-content-left {
position: absolute;
color: white;
font-size: 25px;
font-weight: bold;
margin-left: 20px; 
margin-top: 110px;
}

.left-contents {
font-size: 15px;
}

.right-contents {
font-size: 15px;
}
.role {
    width: 180px;
    height: 180px;
    top: 400px;
    margin: 15px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.selected-role {
    background-color: lightgreen;
}

.role img {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info-table {
    width: 1200px;
    padding: 100px;
    position: absolute;
    margin-left: 50px;
    top: 580px;
    text-align: center;
}

.info-table table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.info-table th, .info-table td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.table-under {
    text-align: left;
    margin-left: 3px;

}

#bottom-bar {
    position: fixed;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: #ffeef1;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    transition: bottom 0.5s ease-in-out;
    overflow-x: auto;
    padding: 0 10px;
    box-sizing: border-box;
}

#bottom-bar.show {
    bottom: 0;
}

.bottom-bar-character {
    width: 80px;
    height: 80px;
    margin: 0 10px;
    cursor: pointer;
}

#prev-btn, #next-btn {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
}

#prev-btn.disabled {
    color: lightgray;
    cursor: not-allowed;
}

.accordion {
width: 600px;
text-align: left;
}

.accordion-header {
font-size: 20px;
background-color: #ffeef1;
color: rgb(0, 0, 0);
cursor: pointer;
padding: 10px;
text-align: left;
border: none;
outline: none;
transition: background-color 0.3s;
}

.accordion-header:hover {
background-color: #edc7c7cf;
}

.accordion-content {
background-color: #ffeef1;
overflow: hidden;
max-height: 0;
transition: max-height 0.3s ease-out;
box-sizing: border-box;
width: 1200px;
text-align: left;
}

.accordion-content p {
line-height: 20px;
padding: 5px;
width: 1200px;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
}

.big-image {
max-width: 90%;
max-height: 90%;
}

.small-image {
width: 600px;
height: 280px;
}

.close-button {
position: absolute;
top: 10px;
right: 10px;
background: none;
border: none;
font-size: 24px;
color: #fff;
cursor: pointer;
}

#combo-request-btn , .update-combo-btn {
margin-top: 380px;
}


@media only screen and (max-width: 480px) {
    body {
        background-color: #ffeef1;
        padding: 60px;
        font-family: Arial, sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        margin: 0;
        position: relative;
    }
    
    .header {
    width: 100%;
    height: 200px; /* 余白の高さを設定 */
    background-color: #a5a5a5; /* 余白の背景色を設定 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* 他の要素の後ろに配置 */
    }
    
    .title {
    position: absolute;
    top: 0;
    left: 67%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 5px 0;
    z-index: 1; /* 他の要素に隠れないようにするため */
    }
    
    .title1 {
    border: 1px solid #a5a5a5; /* 四角の枠線の色と太さ */
    background-color: rgb(0, 36, 166); /* 背景色 */
    }
    
    .title2 {
    border: 1px solid #a5a5a5; /* 四角の枠線の色と太さ */
    background-color: rgb(71, 71, 71); /* 背景色 */
    }
    
    .header-content-title {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px; 
    margin-top: 30px;
    }
    
    .header-content-left, .header-content-right {
    float: left;
    margin: 200px;  
    }
    
    .header-content-right {
    position: absolute;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-right: 20px; 
    margin-top: 60px;
    }
    
    .header-content-left {
    position: absolute;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-left: 20px; 
    margin-top: 60px;
    }
    
    .left-contents {
    font-size: 7px;
    }
    
    .right-contents {
    font-size: 7px;
    }
    .role {
        width: 100px;
        height: 100px;
        top: 150px;
        margin: 10px;
        border: 2px solid black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
    
    .selected-role {
        background-color: lightgreen;
    }
    
    .role img {
        width: 80%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .info-table {
        width: 360px;
        padding: 20px;
        position: absolute;
        margin-left: 1px;
        top: 440px;
        text-align: center;
    }
    
    .info-table table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
    
    .info-table th, .info-table td {
        border: 1px solid black;
        padding: 5px;
        font-size: 4px;
        text-align: center;
    }
    .table-under {
        text-align: left;
        margin-left: 3px;
        font-size: 5px;
    
    }
    
    #bottom-bar {
        position: fixed;
        bottom: -100px;
        left: 0;
        width: 100%;
        background-color: #ffeef1;
        border-top: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        transition: bottom 0.5s ease-in-out;
        overflow-x: auto;
        padding: 0 2px;
        box-sizing: border-box;
    }
    
    #bottom-bar.show {
        bottom: 0;
    }
    
    .bottom-bar-character {
        width: 80px;
        height: 80px;
        margin: 5px;
        cursor: pointer;
    }
    
    #prev-btn, #next-btn {
        cursor: pointer;
        font-size: 24px;
        user-select: none;
    }
    
    #prev-btn.disabled {
        color: lightgray;
        cursor: not-allowed;
    }
    
    .accordion {
    width: 380px;
    text-align: left;
    }
    
    .accordion-header {
    font-size: 10px;
    background-color: #ffeef1;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    }
    
    .accordion-header:hover {
    background-color: #edc7c7cf;
    }
    
    .accordion-content {
    background-color: #ffeef1;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    box-sizing: border-box;
    width: 390px;
    text-align: left;
    }
    
    .accordion-content p {
    font-size: 6px;
    line-height: 10px;
    padding: 2px;
    width: 390px;
    }
    
    .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    }
    
    .big-image {
    max-width: 90%;
    max-height: 90%;
    }
    
    .small-image {
    width: 300px;
    height: 140px;
    }
    
    .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    }
    
    #combo-request-btn , .update-combo-btn {
    margin-top: 600px;
    }
}

